rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      allow read, write: if true;
    }

    match /siteStats/{docId} {
      allow read, write: if true;
    }

    match /metaverseProjectOverviews/{overviewId} {
      allow read, write: if true;
    }

    match /homepageChatUsers/{userId} {
      allow read, write: if true;
    }

    match /homepageChatRooms/{roomId} {
      allow read, write: if true;

      match /messages/{messageId} {
        allow read, write: if true;
      }
    }
  }
}
